* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0d0d0d;
  color: white;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

/* Lado da logo com grid quadriculado neon */
.logo-side {
  flex: 1;
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.171), rgba(0, 0, 0, 0.9)),
    linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 100% 100%, 32px 32px, 32px 32px;
  background-repeat: no-repeat, repeat, repeat;
}

.logo-side img {
  width: 400px;
  max-width: 100%;
  filter: drop-shadow(0 0 15px white);
}

/* Formulário */
.form-side {
  flex: 1;
  background-color: #0d0d0d;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 2rem;
  font-size: 0.95rem;
}

p a {
  color: white;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 0.9rem;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #111;
  color: white;
  outline: none;
}

button {
  padding: 12px;
  border-radius: 8px;
  background: white;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 10px white;
}

button:hover {
  background-color: white;
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo-side {
    height: 200px;
  }

  .form-side {
    padding: 2rem;
  }
}

.form-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.form-links a {
  color: white;
  text-decoration: none;
}

.form-links a:hover {
  text-decoration: underline;
}
